<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<link href="{{url_for('static', filename='UNSWtalk.css')}}") rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $(".close").click(function(){
        $(".comment").toggle();
    });
});

</script>


<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  {%if session['zid'] == ''%}
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>UNSWTalk</a>
  {% else %}
  <a href={{url_for("dashboard")}} action="login" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>UNSWTalk</a>  
  {% endif  %}
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <a href={{url_for("mention")}} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Mention"><i class="fa fa-bell"></i></a>     
   {%if session['zid'] != ''%}
	<a href={{url_for("home")}} class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="logout"><i class="fa fa-sign-out"></i></a>
        <a href={{url_for("start")}} class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><img src={{person['img_path']}} style="height:40px;width:40px" alt="Avatar"></a>
   {% endif %}
 </div>
</div>



<div class="unswtalk_heading">
UNSWtalk
</div>

{% block body_contents %}
{% endblock %}

</body>
</html>
